<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotional Recognition of Tweets</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <h1>CPSC 571 Term Project - Emotional Recognition on Twitter</h1>
    <p>Group 14: Matthew Forman, Firoz Lakhani, Rohan Chaudhary</p>
    <h2>Select a Topic:</h2>
    <form method="POST">
        {% csrf_token %}
        <select name="topic" >
            {% for topic in topics %}
            <option value="{{ topic.id }}">{{ topic.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>